@model LeaveManagement.DataViewModels.CreateLeaveAllocationViewModel

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <td>Leave Type</td>
            <td>Action</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.LeaveTypes)
        {
            <tr>
                <td>@item.Name</td>

                <td>
                    @*
                        @Html.ActionLink(item.Name, "SetLeave", "LeaveAllocation", new { id = item.Id }, null)

                        @Html.ActionLink("Allocate To Employees", "SetLeave" , new { id = item.Id }, new { @class = "btn btn-outline-success" })
                    *@

                    <a asp-action="SetLeave" class="btn btn-outline-success" asp-route-id="@item.Id">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        Allocate To Employees
                    </a>

                </td>
            </tr>
        }

    </tbody>

</table>